



.bg-blue {

    background-color:#0091CF;


}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
}

.bg-font{

    font-size:80px;

}

.sm-font{

    font-size:40px;


}
.stroke {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.md-font{

font-size:60px;

}

.center-font{


  text-align: center;


}

.tiny-font{

font-size:20px;

}
.form{

margin:0;
padding:0;

}

.pd-right{

padding-left:8px;

}
.container .pressure-bar{
    width: 45%;
    margin: auto;
}

.weekdays{

    padding-left:0px;


}


.weekdays li{
    margin:0;
    padding:0;
    list-style-type: none;

}