



.bg-blue {

    background-color:#0091CF;


}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
}

.bg-font{

    font-size:100px;

}

.sm-font{

    font-size:50px;


}
.stroke {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.md-font{

font-size:80px;

}

.center-font{


  text-align: center;


}