
{% load static %}

<head>
    <title> Weather Web App </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
</head>

<body>

    <header id="main-header">


        <div class="container">

            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Website logo" >


                <h1>
                    Weather Forecast
                 </h1>


            </div>




        </div>





    </header>





</body>