{% extends 'base.html' %}

{% load static %}

{% block body %}

<br>

    <div class="container bg-blue border border-dark  rounded ">

        <br>

          <div class="container ">


    <h1 class="text-white bg-font stroke center-font" >Weather in  {{ name }}, {{ country }}</h1>

          </div>

        <div class="container ">

            <h6 class="text-white md-font stroke center-font"> {{ timeNow }} </h6>

        </div>

        <div class="container">

            <h6 class="text-white sm-font stroke center-font ">  {{ weather }} - {{ description }} </h6>



        </div>


        <div class="container">
             <h6 class="bg-font text-white  center-font">  <img src="{% static 'images/suncloud.png' %}" width="150" height="150" class="d-inline-block align-top" alt="">

                 {{ temperature }} °C

             </h6>

        </div>




        <div class="container ">
            <p class="text-white"> Pressure: {{ pressure }} % </p>
            <p class="text-white "> Humidity: {{ humidity }} %</p>

                  {{ sunrise }}
                  {{ sunset }}
                  {{ timezone }}

        </div>

    <br>

    </div>
{% endblock %}