{% extends 'base.html' %}

{% load static %}

{% block body %}

<br>

    <div class="container bg-blue border border-dark  rounded ">

        <br>

          <div class="container ">


    <h1 class="text-white bg-font stroke center-font" >Unknown Location </h1>

          </div>

        <div class="container ">

            <h6 class="text-white md-font stroke center-font"> {{ timeNow }} </h6>

        </div>

        <div class="container">

            <h6 class="text-white sm-font stroke center-font ">   </h6>



        </div>


        <div class="container">
             <h6 class="bg-font text-white  center-font">  <img src="{% static 'images/dead.png'%}" width="150" height="150" class="d-inline-block align-top" alt="">

                 0 °C

             </h6>

        </div>




        <div class="container">
            <p class="text-white tiny-font"> <span class="font-weight-bold">Pressure:</span> 0%<br>
                <span class="font-weight-bold">Humidity</span>: 0%<br>
                <span class="font-weight-bold">Wind:</span> 0 <span class="font-weight-bold">mph</span>
            </p>


</div>


        </div>


    </div>
{% endblock %}