{% extends 'base.html' %}

{% load static %}

{% block body %}

<br>

    <div class="container bg-blue border border-dark  rounded ">

        <br>

          <div class="container ">


    <h1 class="text-white bg-font stroke center-font" >Unknown Location </h1>

          </div>

        <div class="container ">

            <h6 class="text-white md-font stroke center-font"> {{ timeNow }} </h6>

        </div>

        <div class="container">

            <h6 class="text-white sm-font stroke center-font ">   </h6>



        </div>


        <div class="container">
             <h6 class="bg-font text-white  center-font">  <img src="https://storage.googleapis.com/weather-project-app/dead.png" width="150" height="150" class="d-inline-block align-top" alt="">

                 0 °C

             </h6>

        </div>




        </div>


    </div>
{% endblock %}